<launch>
    <arg name="lidar" default="true"/>

    <!-- publish static transform of lidar  -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_lidar" args="0.275 0.3 0.38735 0 1.04719755 0 base_link laser 100" />
    
    <!-- filter lidar angle input -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_filter">
        <param name="scan_filter_chain" value="$(find lunabot_perception)/config/lidar_angular_filter.yml" />
        <remap from="/scan_filtered" to="/filtered_scan"/>
    </node>

    <node name="scan_to_pc" pkg="lunabot_perception" type="scan_to_pc" output="screen">
        <remap from="/scan" to="/filtered_scan"/>
        <remap from="/cloud" to="/lidar_cloud" />
    </node>

    <include if="$(arg lidar)" file="$(find rplidar_ros)/launch/rplidar_a2m8.launch"/>
</launch>